@tailwind base;
@tailwind components;
@tailwind utilities;

/* DAFTARKAN FONT TELKOMSEL */
@font-face {
  font-family: 'Telkomsel Batik Sans';
  src: url('./assets/fonts/TelkomselBatikSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telkomsel Batik Sans';
  src: url('./assets/fonts/TelkomselBatikSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* SET DEFAULT FONT UNTUK SELURUH DASHBOARD */
body {
  font-family: 'Telkomsel Batik Sans', sans-serif;
}

/* Hilangkan box bawaan leaflet tooltip agar custom div kita terlihat bersih */
.leaflet-tooltip.custom-usc-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Hilangkan panah kecil di bawah tooltip */
.leaflet-tooltip-top.custom-usc-tooltip:before {
  display: none !important;
}

.leaflet-container {
  z-index: 1;
}